@page "/"
@inject IJSRuntime JSRuntime
<Cake />
<canvas id="myCanvas"></canvas>

<div style="text-align: center">
    <h1>
        Sara's birthday is on @SaraBirthday.ToLongDateString()
    </h1>
    <h1>
        Sara is
        @((int) (DateTime.Now - SaraBirthday).TotalDays) Days Old
    </h1>
    <h1>
        @((int) (NextBirthday - DateTime.Now).TotalDays) Days left for her next Birthday
    </h1>
</div>
<Balloons />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<SaraPic />
<div class="container">
    <h1 class="text-center my-4">♥ Memories Album 2022 ♥</h1>
    <div class="row">
        @for(int i = 1; i <= 2; i++)
        {
            <div class="col-sm-12 col-md-8 col-lg-6 col-6 my-3">
                <img src="\Images\@(i).jpeg" class="img2 img-fluid" alt="Photo">
            </div>
        }
      
    </div>
       <div class="row">
        @for (int i = 3; i <= 10; i++)
        {
            <div class="col-sm-6 col-md-4 col-lg-3 my-3">
                <img src="\Images\@(i).jpeg" class="img" alt="Photo">
            </div>
        }
      
    </div>

</div>
@code {
    DateTime SaraBirthday = new DateTime(2001, 03, 27);
    DateTime NextBirthday = new DateTime(2024, 03, 27);
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("CreatCanvas");
        }
    }
}