@*
    <link href="https://fonts.googleapis.com/css?family=Wendy+One" rel="stylesheet" type="text/css">
    <div class="container-fluid">
    <div class="balloon">
    <div>
    <span>☺</span>
    </div>
    <div>
    <span>B</span>
    </div>
    <div>
    <span>D</span>
    </div>
    <div>
    <span>A</span>
    </div>
    <div>
    <span>Y</span>
    </div>
    <div>
    <span>!</span>
    </div>
    </div>

    </div>
*@

<div class="body">
    <div class="balloon">
        <h1 style="margin-top: 50px;">☺</h1>
    </div>
    <div class="balloon">
        <h1 style="margin-top: 50px ">B</h1>
    </div>
    <div class="balloon">
        <h1 style="margin-top: 50px ">D</h1>
    </div>
    <div class="balloon">
        <h1 style="margin-top: 50px ">A</h1>
    </div>
    <div class="balloon">
        <h1 style="margin-top: 50px ">Y</h1>
    </div>

</div>